<script lang='ts'>
    export let action:Function;

    let name:string = ''

    function nameInput(e:Event){
        name = e.target.value
    }       
        
    interface Event {
      keyCode?: number
      target?: {removeEventListener?: Function, value?:string}
    }
    function escape(event:Event){
      if (event.keyCode === 27) { // Escape key
        window.removeEventListener('keydown', escape);
        document.removeEventListener('keydown', escape);
        action('misterious name visitor')
      }
    }

    document.addEventListener('keydown', escape)
    window.addEventListener('keydown', escape)
  </script>
  
  <style></style>
  
  <div class='modal is-flex'>
    <form on:submit={action(name)}>
    <div class="modal-background"></div>
    <div class="modal-card m-auto">
      <header class="modal-card-head">
          <p class="modal-card-title mr-2 has-text-centered">Compu-Global-Hyper-Mega-Net</p>
      </header>
      <section class="modal-card-body has-background-warning pt-0">
          <p class='is-size-6 p-2 has-text-warning-dark has-text-centered'>Please type your name</p>
          <input class="input is-info" type="text" on:input={nameInput} placeholder="Just your first name">
      </section>
      <footer class="modal-card-foot is-justify-content-center">
        <button class='button is-success' type='submit' disabled={name==''}>OK</button>
      </footer>
    </div>
    </form>
  </div>